version: '3.9'

services:
  postgres:
    image: ghcr.io/baosystems/postgis:15-3.5
    container_name: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres-init-script:/docker-entrypoint-initdb.d

  keycloak:
    image: quay.io/keycloak/keycloak:26.0.6
    container_name: keycloak
    ports:
      - "8282:8080"
    environment:
      KC_IMPORT: /opt/jboss/keycloak/imports/realm-export.json
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    volumes:
      - ./keycloak-imports:/opt/keycloak/data/import
    command: start-dev --import-realm
    depends_on:
      - postgres

volumes:
  postgres_data:
